<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h3>View Blog</h3>
<p>
    <a th:href="@{/list}">
        Back to blog list
    </a>
</p>
<div id="form">
    <div>
        <label>Theme</label>
        <input type="text" th:field="${blog.theme}"/>
    </div>
    <div>
        <label>Content</label>
        <input type="email" th:field="${blog.content}"/>
    </div>
    <div>
        <label>Author</label>
        <input type="text" th:field="${blog.author}"/>
    </div>
    <div>
        <label>Date</label>
        <input type="text" th:field="${blog.date}"/>
    </div>
</div>
</body>
</html>