<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
</head>
<body>
---
layout: examples
title: Dashboard Template
extra_css: "dashboard.css"
extra_js:
- "https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"
- "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"
- "dashboard.js"
---

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/list/khachhang}">
                            <span data-feather="file"></span>
                            Khách hàng
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/list/dichvu}">
                            <span data-feather="home"></span>
                            Dịch vụ <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dịch vụ</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <button type="button" >
                        <a th:href="@{/list/khachhang}">Trở lại</a>
                    </button>
                </div>
            </div>

            <h2>Chỉnh sửa thông tin</h2>
            <div class="table-responsive">
                <form th:action="@{/dichvu/update/{id}(id=${dichvu.getIdDichVu()})}" th:object="${dichvu}"
                      method="post">
                    <input type="hidden" th:field="*{idDichVu}">
<!--                    <input type="hidden" th:field="*{loaiKhach.idLoaiKhach}">-->
                  <table class="table table-striped table-sm">
                    <tr>
                      <td>Tên dịch vụ</td>
                      <td><input type="text" th:field="*{tenDichVu}"/><br></td>
                      <td></td>
                      <td>Diện tích</td>
                        <td><input type="text" th:field="*{dienTich}"/><br></td>
                    </tr>
                    <tr>
                      <td>Số tầng</td>
                      <td><input type="text" th:field="*{soTang}"/><br></td>
                      <td></td>
                      <td>Số người tối đa</td>
                      <td><input type="text" th:field="*{soNguoiToiDa}"/><br></td>
                    </tr>
                    <tr>
                      <td>Chi phí thuê</td>
                      <td><input type="text" th:field="*{chiPhiThue}"/><br></td>
                      <td></td>
                      <td>Trạng thái</td>
                      <td><input type="text" th:field="*{trangThai}"/></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td><input type="submit" value="Xác nhận"></td>
                      <td></td>
                      <td></td>
                    </tr>
                    </table>
                </form>
            </div>
        </main>
    </div>
</div>
<script src="../static/js/jquery-3.5.0.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/dashboard.js"></script>
</body>
</html>