<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Modify Product</h3>
<p>
    <a th:href="@{/}">
        Back to product list
    </a>
</p>
<table>
    <tr>
        <td>Name:</td>
        <td><span th:text="${product.name}"></span></td>
    </tr>
    <tr>
        <td>Type:</td>
        <td><span th:text="${product.type}"></span></td>
    </tr>
    <tr>
        <td></td>
        <td>Are you sure ?</td>
    </tr>
    <tr>
        <td></td>
        <td><a th:href="@{/product/delete/{id}(id=${product.getId()})}">Yes</a></td>
    </tr>
</table>
</body>
</html>