<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>List Product</h3>
<table id="products">
    <thead>
    <tr>
        <th>Status</th>
        <th>NameProduct</th>
        <th>Cost</th>
        <th>Image</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${product.getStatus()}"></td>
        <td  th:text="${product.getNameProduct()}"></td>
        <td th:text="${product.getCost()}"></td>
        <td><img th:src="${product.getImage()}" style="height: 100px; width: 100px"/></td>
    </tr>
    </tbody>
</table>
</body>
</html>