<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Title</title>
</head>
<body>
    <header th:replace="common::headerStudent"></header>
    <h2>Register student</h2>

    <form th:action="@{/create}" accept-charset="UTF-8" method="post" th:object="${student}">
        <input th:field="*{name}" />
        <input th:field="*{birthday}" />
        <input type="submit" value="Register" />
    </form>
    <footer th:replace="common::footerStudent"></footer>
</body>
</html>
