<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>My Blog</h3>
<p>
    <a th:href="@{/blog/create}">
        Add new blog
    </a>
</p>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<table id="blogs">
    <thead>
    <tr>
        <th>Theme</th>
        <th>Content</th>
        <th>Author</th>
        <th>Date</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog : ${blogs}">
        <td>
            <a th:href="@{/blog/view/{id}(id=${blog.getId()})}">
                <span th:text="${blog.getTheme()}"></span>
            </a>
        </td>
        <td th:text="${blog.getContent()}"></td>
        <td th:text="${blog.getAuthor()}"></td>
        <td th:text="${blog.getDate()}"></td>
        <td><a th:href="@{/blog/edit/{id}(id=${blog.getId()})}">edit</a></td>
        <td><a th:href="@{/blog/delete/{id}(id=${blog.getId()})}">delete</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>